# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# General settings for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# YAML files
[*.{yaml,yml}]
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
max_line_length = off

# Go files
[*.go]
indent_style = tab
indent_size = 4

# Python files
[*.py]
indent_style = space
indent_size = 4
max_line_length = 88

# Shell scripts
[*.{sh,bash}]
indent_style = space
indent_size = 2

# Dockerfile
[Dockerfile*]
indent_style = space
indent_size = 2

# GitHub Actions workflows
[.github/workflows/*.{yaml,yml}]
indent_style = space
indent_size = 2

# Pre-commit config
[.pre-commit-config.yaml]
indent_style = space
indent_size = 2

# Dependabot config
[.github/dependabot.yml]
indent_style = space
indent_size = 2
